<section class="mb-20 font-sans text-lg text-gray-800 dark:text-black-200 leading-relaxed">
	<p class="mb-4">
		Estoy en la recta final de mi formación como Desarrollador de Aplicaciones Web, con un enfoque claro y una gran curiosidad por lo que viene. Mi especialidad es el back-end; me apasiona construir la lógica robusta y la arquitectura interna que hace que un producto digital funcione sin fisuras. Sin embargo, entiendo el ecosistema completo y también me muevo con soltura en el front-end para asegurar una experiencia de usuario coherente.
		
	</p>
</section>