
<section class="min-h-screen grid grid-cols-1 md:grid-cols-2 gap-8 items-center pt-32 pb-16">
    
    <div class="flex flex-col gap-6">
        <h1 
            class="font-bold text-5xl sm:text-7xl leading-tight animate-on-scroll"
        >
            Hola, mi nombre es Jorge Asca
        </h1>
        <p 
            class="text-xl text-gray-700 animate-on-scroll" 
            style="--animation-delay: 100ms;"
        >
            Soy un estudiante de DAW (Despliegue de aplcaciones web) 
            apasionado por el desarrollo web y el diseño creativo. 
        </p>
    </div>

    <div class="flex items-center justify-center animate-on-scroll" style="--animation-delay: 150ms;">
        <div class="w-full max-w-md h-96 bg-blue-200 rounded-lg shadow-xl flex items-center justify-center">
            <span class="text-blue-800">Acá va mi foto</span>
        </div>
    </div>
</section>