
<header class="fixed top-0 left-0 right-0 z-40 bg-white">
    <nav class="flex justify-between items-center max-w-7xl mx-auto px-4 py-6">
        
        <div class="flex items-center gap-6">
            <a href="/" class="text-gray-900">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-8 h-8">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 003.07-1.377A51.383 51.383 0 0112 6.347a51.383 51.383 0 015.692 2.424 50.57 50.57 0 003.07 1.377M3.779 16.509a50.57 50.57 0 013.071-1.377A51.383 51.383 0 0012 17.653a51.383 51.383 0 005.692-2.424 50.57 50.57 0 013.07 1.377M3.779 16.509a50.57 50.57 0 003.07 1.377A51.383 51.383 0 0112 17.653a51.383 51.383 0 015.692-2.424 50.57 50.57 0 003.07-1.377" />
                </svg>
            </a>

            <button 
                id="menu-open-btn" 
                type="button" 
                class="group font-bold tracking-widest text-sm"
            >
                MENU
                <span class="block max-w-0 group-hover:max-w-full transition-all duration-300 h-0.5 bg-gray-900"></span>
            </button>
        </div>

        <a 
            href="#" 
            class="font-bold tracking-widest text-sm bg-gray-900 text-white px-5 py-3 rounded-full hover:bg-gray-700 transition-colors"
        >
            HIRE ME
        </a>

    </nav>
</header>