---

const designerSkills = [
  "UI design",
  "UX design",
  "Design Systems",
  "Interaction design",
];

const coderSkills = [
  "Base de datos",
  "Frameworks de desarrollo",
  "TypeScript",
  "Redes",
];
---
<section class="py-20">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-12 items-center">
        
        <div class="md:text-right">
            <h3 class="text-2xl font-bold mb-4 text-gray-800">Front-end</h3>
            <ul class="text-lg text-gray-600 space-y-1">
                {designerSkills.map(skill => (
                    <li>{skill}</li>
   
             ))}
            </ul>
        </div>

        <div class="flex justify-center order-first md:order-none">
            <div class="relative w-48 h-48 rounded-full flex items-center justify-center overflow-hidden shadow-lg
                        transition-transform duration-500 ease-in-out -rotate-90 group-[.is-visible]:rotate-0">
                
                <div class="absolute 
w-full h-full 
                            bg-[conic-gradient(from_180deg_at_50%_50%,_#1f2937_0deg_144deg,_#D1D5DB_144deg_360deg)]">
                </div>
                
                </div>
        </div>

  
      <div class="text-left">
            <h3 class="text-2xl font-bold mb-4 text-gray-800">Back-end</h3>
            <ul class="text-lg text-gray-600 space-y-1">
                {coderSkills.map(skill => (
                    <li>{skill}</li>
                ))}
       
     </ul>
        </div>

    </div>
</section>