---
const skills = [
  { name: 'Maquetaci칩n', level: 50, color: 'bg-teal-300' },
  { name: 'Integraci칩n', level: 50, color: 'bg-pink-200' },
  { name: 'Backend', level: 50, color: 'bg-yellow-400' },
  { name: 'Dise침o', level: 50, color: 'bg-yellow-600' },
  { name: 'Gesti칩n de BDs', level: 50, color: 'bg-red-500' },
];
const yAxisLabels = ['Avanzado', 'Intermedio', 'Basico'];
---
<section class="py-20">
    <div class="flex justify-end mb-8">
        <h2 class="text-4xl text-gray-800">My skills</h2>
    </div>

    <div class="flex gap-4 h-96">
        <div class="flex flex-col justify-between text-right text-sm text-gray-500 pr-4 border-r border-gray-200 h-full">
            {yAxisLabels.map(label => (
                <span>{label}</span>
            ))}
    
    </div>

        <div class="flex-1 grid grid-cols-5 gap-6 h-full">
            
            {skills.map(skill => (
                <div class="flex flex-col items-center gap-2 h-full justify-end">
                    <div
                
        class:list={[
                            "w-full rounded-lg flex items-center justify-center text-white font-bold text-lg shadow-md",
                            skill.color
                        ]}
    
                                            style="height: 50%;" >
                        <span>{skill.level}%</span> </div>
                    <span class="font-medium text-gray-700 text-center">{skill.name}</span>
                </div>
            ))}

  
      </div>
    </div>
</section>