---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/hero.astro';
import About from '../components/about.astro';
import Skills from '../components/Skills.astro';
import RoleSplit from '../components/RoleSplit.astro';
---
<Layout title="Jorge Asca">
	<Navbar />
	
	<main class="max-w-7xl mx-auto px-4">
		<Hero />

        <div class="py-16 animate-on-scroll">
            <h2 class="text-4xl font-bold text-gray-800">
                Mas sobre mi
            </h2>
        </div>

        <div class="animate-on-scroll">
            <About />
        </div>

		<div class="animate-on-scroll group">
            <RoleSplit />
        </div>

		<div class="animate-on-scroll">
            <Skills />
        </div>
	</main>
</Layout>