---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import ProjectCard from '../components/ProjectCard.astro';
---
<Layout title="Proyectos - Jorge Asca">
    <Navbar />

    <main class="min-h-screen pt-32">
        <div class="max-w-7xl mx-auto px-4">
            
            <h1 class="text-5xl sm:text-7xl font-bold mb-16 text-gray-900">Proyectos</h1>

            <ProjectCard 
                title="Tienda Online"
                
 subtitle="Tienda desarrollada en React"
                imgSrc=""
            />
            
            <ProjectCard 
                title="Proyecto Dos"
                subtitle="Tienda desarrollada en React"
        
                 imgSrc=""
                reverse={true}
            />

            <ProjectCard 
                title="Proyecto Tres"
                subtitle="Aplicación Web Completa"
                
 imgSrc=""
            />

        </div>
    </main>
</Layout>